<template>
  <div class="agent-card-wrapper">
    <v-card v-if="!errorMessage && data" class="pa-3">
      <!-- <pre>{{data}}</pre> -->
      <v-layout>
        <v-flex xs3>
          Agent:
        </v-flex>
        <v-flex xs9>
          <router-link :to="'/agent/'+data.slug">
            <h1>{{data.name}}</h1>
          </router-link>
        </v-flex>
      </v-layout>

      <v-layout>
        <v-flex xs3>
          Contacts: 
        </v-flex>
        <v-flex xs9>
          <div class="contacts">
            <span :class="index === 0 ? '' : 'ml-2'" v-for="(contact, index) in data.contacts" :key="contact.value">
              <v-icon small>{{contact.icon}}</v-icon>
              {{contact.value}}
            </span>
          </div>
        </v-flex>
      </v-layout>
      
    </v-card>
    <v-card v-else-if="errorMessage.length > 0">
      <h3 class="error--text">
        {{errorMessage}}
      </h3>
    </v-card>
  </div>
</template>
<script>
export default {
  name: 'agent-card',
  props: {
    id: String
  },
  data () {
    return {
      data: null,
      errorMessage: 'Loading...'
    }
  },
  beforeMount () {
    console.log('beforeMount', this.id)
    this.getAgentData()
  },
  methods: {
    getAgentData () {
      if (!this.id) {
        this.errorMessage = 'Invalid agent ID'
        return
      }
      let self = this
      this.$store.dispatch('GET_AGENT_BY_ID', this.id).then(resp => {
        self.errorMessage = ''
        console.log('getAgentData', resp.agent)
        self.data = resp.agent
      }).catch(err => {
        self.errorMessage = err.toString()
        self.data = null
      })
    }
  }
}
</script>
