<template>
  <form :class="`filter-sidebar-wrapper${filter_sidebar ? ' active' : ''}`" @submit.prevent="runFilter">
    <v-toolbar color="indigo" dark class="elevation-0">
      <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->
      <v-btn flat icon @click="$store.commit('SET_FILTER_SIDEBAR', false)"><v-icon>chevron_right</v-icon></v-btn>
      
      <v-toolbar-title>Filters</v-toolbar-title>
      <v-spacer></v-spacer>
      <!-- <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat>Link One</v-btn>
        <v-btn flat>Link Two</v-btn>
        <v-btn flat>Link Three</v-btn>
      </v-toolbar-items> -->
    </v-toolbar>
    <v-layout column>
      <v-flex pt-3>
        <h4>
          <v-checkbox class="ml-2 ma-0" v-model="filter_price" label="Price range"></v-checkbox>
        </h4>
        <v-layout row wrap pl-2 pr-2 pt-0>
          <v-flex xs12>
            <v-range-slider
              class="elevation-0 mb-0 pb-0"
              v-model="priceRange"
              :max="maxPriceRange"
              :min="20"
              :step="10"
            ></v-range-slider>
          </v-flex>
          <v-flex
            xs2
            class="pt-2"
          >
            <label for="maxPriceRange">Min.</label>
          </v-flex>
          <v-flex
            xs4
            class="pr-1"
          >
            <v-text-field
              v-model="priceRange[0]"
              class="mt-0 pt-0 text-xs-left"
              id="minPriceRange"
              hide-details
              single-line
              type="number"
              :max="maxPriceRange"
              :min="1"
            ></v-text-field>
          </v-flex>
          <v-flex
            xs4
            class="pl-1"
          >
            <v-text-field
              v-model="priceRange[1]"
              class="mt-0 pt-0"
              id="maxPriceRange"
              hide-details
              single-line
              type="number"
              :max="maxPriceRange"
              :min="1"
            ></v-text-field>
          </v-flex>
          <v-flex
            xs2
            class="pt-2"
          >
            <label for="minPriceRange">Max.</label>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex mt-3>
        <h4>Amenities:</h4>
        <v-layout row wrap class="amenities-checkbox-items">
          <v-flex xs6>
            <v-checkbox class="ml-2 ma-0" prepend-icon="restaurant_menu" v-model="filter.has_kitchen" label="Has kitchen?"></v-checkbox>
          </v-flex>
          <v-flex xs6>
            <v-checkbox class="ml-2 ma-0" prepend-icon="ac_unit" v-model="filter.has_airconditioning" label="Has A/C?" title="Has Airconditioner"></v-checkbox>
          </v-flex>
          <v-flex xs6>
            <v-checkbox class="ml-2 ma-0" prepend-icon="wifi" v-model="filter.has_wifi" label="Has WiFi?" title="Has WiFi Internet"></v-checkbox>
          </v-flex>
          <v-flex xs6>
            <v-checkbox class="ml-2 ma-0" prepend-icon="local_parking" v-model="filter.has_parking" label="Has Parking?" title="Has Parking"></v-checkbox>
          </v-flex>
          <v-flex xs6>
            <v-checkbox class="ml-2 ma-0" prepend-icon="local_hotel" v-model="filter.is_furnished" label="Is Furnished?" title="Is Furnished"></v-checkbox>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex mt-3>
        <h4>Buy or Rent?</h4>
        <!-- <v-checkbox class="ml-2 ma-0" v-model="onlyForRent" label="Price range"></v-checkbox> -->
        <v-radio-group v-model="buyOrRent" :column="false" style="justify-content: center;">
          <v-radio
            label="Both"
            value="both"
          ></v-radio>
          <v-radio
            label="For rent only"
            value="rent_only"
          ></v-radio>
          <v-radio
            label="For sale only"
            value="sale_only"
          ></v-radio>
        </v-radio-group>
      </v-flex>
    </v-layout>
    <v-layout row mt-4>
      <v-spacer></v-spacer>
      <v-btn color="primary" type="submit">Filter</v-btn>
    </v-layout>
  </form>
</template>
<script>
import {mapGetters} from 'vuex'
import { EventBus } from '../../main';

export default {
  name: 'filter-sidebar',
  data () {
    return {
      filter: {
        has_kitchen: false,
        has_airconditioning: false,
        has_wifi: false,
        has_parking: false,
        is_furnished: false
      },
      filter_price: true,
      priceRange: [1, 1000000],
      maxPriceRange: 1000000,
      minPriceRange: 1,
      buyOrRent: 'both'
    }
  },
  computed: {
    ...mapGetters(['filter_sidebar', 'max_price'])
  },
  watch: {
    max_price (val) {
      this.maxPriceRange = val
      this.priceRange[1] = val
    },
    filter_sidebar () {
      this.maxPriceRange = this.max_price
      this.priceRange[1] = this.max_price
    }
  },
  methods: {
    toggle () {
      if (this.filter_sidebar) {
        this.$store.commit('SET_FILTER_SIDEBAR', false)
      } else {
        this.$store.commit('SET_FILTER_SIDEBAR', true)
      }
    },
    runFilter () {
      let data = {
        ...this.filter,
        max_price: (this.filter_price ? this.priceRange[1] : ''),
        min_price: (this.filter_price ? this.priceRange[0] : ''),
        listing_type: this.buyOrRent
      }
      EventBus.$emit('RUN_FILTERS', data)
    }
  }
}
</script>
<style>
.filter-sidebar-wrapper {
  position: absolute;
  right: -800px;
  top: 11.5em;
  bottom: 0;
  max-width: 500px;
  min-width: 350px;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 1em rgba(0,0,0,0.12);
  transition: right 1s ease-in-out;
}
.filter-sidebar-wrapper.active {
  right: 0;
}
.filter-sidebar-wrapper > .layout {
  margin-right: 1.5em;
}
#maxPriceRange {
  text-align: left;
}
#minPriceRange {
  text-align: right;
}
.amenities-checkbox-items .v-input--checkbox {
  height: 2em;
}
.amenities-checkbox-items .v-input--checkbox .v-messages {
  display: none;
}
.amenities-checkbox-items .v-input--checkbox .v-input__slot {
  margin-bottom: 0;
}
.amenities-checkbox-items .v-input--checkbox .v-input__append-outer .v-icon {
  color: rgba(0, 0, 0, 0.2)
}
.amenities-checkbox-items .v-input--checkbox.v-input--is-label-active .v-icon {
  color: #1976d2;
}
</style>
