<template>
  <div class="home-listing-wrapper">
    <div class="list-type-control-btns pl-2">
      Change view:
      <v-btn flat small icon @click="isGridView = false">
        <v-icon :color="isGridView ? '' : 'primary'">view_list</v-icon>
      </v-btn>
      <v-btn flat small icon @click="isGridView = true">
        <v-icon :color="isGridView ? 'primary' : ''">view_module</v-icon>
      </v-btn>
    </div>
    <h5 class="mb-2">Results: {{items.length}} {{items.length === 1 ? 'item' : 'items'}}</h5>    
    <v-list two-line dense v-if="!isGridView">
      <template v-for="(item, index) in Listing">
        <v-subheader
          v-if="item.header"
          :key="item.header"
        >
          {{item.header}}
        </v-subheader>

        <v-divider
          v-else-if="item.divider"
          :key="index"
          :inset="item.inset"
        ></v-divider>

        <v-list-tile
          v-else
          :key="item.title"
          avatar
        >
          <v-list-tile-avatar class="square-avatar">
            <img style="bordered-1" :src="getFirstImage(item.image_urls)">
          </v-list-tile-avatar>

          <v-list-tile-content class="pl-2">
            <v-list-tile-title class="all-uppercase">{{getLisitngTitle(item)}}</v-list-tile-title>
            <v-list-tile-sub-title>{{getListingDescription(item)}}</v-list-tile-sub-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-chip small class="teal darken-4" text-color="white" @click="showItem(item)" style="height: 18px;cursor:pointer;">
              <span class="">{{item.view_count | shortNumber}}</span>
              <v-icon small right class="">remove_red_eye</v-icon>
            </v-chip>
          </v-list-tile-action>
        </v-list-tile>
      </template>
    </v-list>
    <v-layout row wrap v-else>
      <v-flex pa-2 xs6 sm3 v-for="item in Listing" :key="item.id">
        <v-card class="bordered-1 list-view-card-item">
          <v-img
            class="bottom-bordered-1"
            :src="getFirstImage(item.image_urls)"
            aspect-ratio="1.6"
          >
            <div class="price-tag-chip">
              <v-tooltip bottom>
                <v-chip small label :color="item.is_for_rent ? 'teal darken-4' : 'green darken-4'" text-color="white" slot="activator">
                  <b>
                    <span v-if="item.is_for_rent">{{item.rent_price | toLocaleString}} {{item.rent_currency && item.rent_currency.Code ? item.rent_currency.Code : ''}}</span>
                    <span v-if="item.is_for_sale">{{item.sale_price | toLocaleString}} {{item.sale_currency && item.sale_currency.Code ? item.sale_currency.Code : ''}}</span>
                  </b>
                </v-chip>
                <span v-if="item.is_for_rent">{{item.rent_price | toLocaleString}} {{item.rent_currency && item.rent_currency.Name ? item.rent_currency.Name : ''}}</span>
                <span v-if="item.is_for_sale">{{item.sale_price | toLocaleString}} {{item.sale_currency && item.sale_currency.Name ? item.sale_currency.Name : ''}}</span>
              </v-tooltip>
            </div>
          </v-img>
          <v-card-title primary-title class="pa-1">
            <div class="headline all-uppercase mb-0 teal--text text--darken-4 text-xs-left" style="font-size: 0.95em !important;width:100%;">
              <small class="all-lowercase float-right">{{(item.updated_at.indexOf('0001') === 0 ? item.created_at : item.updated_at) | toDateDiffString}}</small>
              <b>{{getLisitngTitle(item, true)}}</b>
            </div>
          </v-card-title>
          <v-card-text class="pa-1 text-xs-left" style="min-height: 2.5em;">
            <v-layout row wrap>
              <v-flex xs12 sm8>
                <item-rating :id="item.agen_user_id" target="agent" :isReadonly="true"></item-rating>
              </v-flex>
              <v-flex xs12 sm4>
                <div class="amenities-icons float-right">
                  <v-tooltip bottom v-if="item.has_kitchen">
                    <v-icon small color="teal darken-4" slot="activator">restaurant_menu</v-icon>
                    <b>This <span style="text-transform: lowercase;">{{item.type.name}}</span> has a kitchen</b>
                  </v-tooltip>
                  <v-tooltip bottom v-if="item.has_airconditioning">
                    <v-icon small color="teal darken-4" slot="activator">ac_unit</v-icon>
                    <b>This <span style="text-transform: lowercase;">{{item.type.name}}</span> has an airconditioning</b>
                  </v-tooltip>
                  <v-tooltip bottom v-if="item.has_wifi">
                    <v-icon small color="teal darken-4" slot="activator">wifi</v-icon>
                    <b>This <span style="text-transform: lowercase;">{{item.type.name}}</span> has a WiFi internet</b>
                  </v-tooltip>
                  <v-tooltip bottom v-if="item.has_parking">
                    <v-icon small color="teal darken-4" slot="activator">local_parking</v-icon>
                    <b>This <span style="text-transform: lowercase;">{{item.type.name}}</span> has a parking space</b>
                  </v-tooltip>
                  <v-tooltip bottom v-if="item.is_furnished">
                    <v-icon small color="teal darken-4" slot="activator">local_hotel</v-icon>
                    <b>This <span style="text-transform: lowercase;">{{item.type.name}}</span> has a furniture</b>
                  </v-tooltip>
                </div>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions class="pt-0 pl-1 mt-1">
            <v-layout row>
              <v-flex xs8 style="overflow: hidden;">
                <v-tooltip bottom style="width: 100%;display:block;margin-top:5px;">
                  <span class="address-text" style="font-size: 0.85em;" slot="activator">{{item.address | toaddress}}</span>
                  <span style="font-size: 0.85em;">{{item.address | toaddress}}</span>
                </v-tooltip>
              </v-flex>
              <v-flex xs4>
                <v-chip small class="teal darken-4" text-color="white" @click="showItem(item)" style="height: 18px;cursor:pointer;">
                  <span class="">{{item.view_count | shortNumber}}</span>
                  <v-icon small right class="ml-1">remove_red_eye</v-icon>
                </v-chip>
              </v-flex>
            </v-layout>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <v-dialog v-model="showQuickView">
      <v-card class="elevation-1" v-if="selectedItem">
        <v-toolbar dark color="primary">
          <v-toolbar-title><h1 class="all-uppercase">{{getLisitngTitle(selectedItem)}}</h1></v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon dark @click="showQuickView = false"> <v-icon>close</v-icon> </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-layout row wrap>
            <v-flex xs12 sm5>
              <images :imageURLs="selectedItem.image_urls"></images>
            </v-flex>
            <v-flex xs12 sm7>
              <table class="table summary-table">
                <tr>
                  <th>Listing type:</th>
                  <td v-if="selectedItem.type">{{selectedItem.type.name}}</td>
                </tr>
                <tr>
                  <th>For:</th>
                  <td>{{selectedItem.is_for_rent ? 'Rent' : 'Selling'}}</td>
                </tr>
                <tr>
                  <th>Rooms:</th>
                  <td>{{selectedItem.rooms_count}}</td>
                </tr>
                <tr>
                  <th>Bathooms:</th>
                  <td>{{selectedItem.bathrooms_count}}</td>
                </tr>
                <tr>
                  <th>Price:</th>
                  <td v-if="selectedItem.is_for_rent">{{selectedItem.rent_price.toLocaleString('en-GB')}} {{selectedItem.rent_currency.Code}}</td>
                  <td v-else>{{selectedItem.sale_price.toLocaleString('en-GB')}} {{selectedItem.sale_currency.Code}}</td>
                </tr>
                <tr>
                  <th>Quantity:</th>
                  <td>{{selectedItem.quantity}}</td>
                </tr>
                <tr>
                  <th>Has Kitchen:</th>
                  <td :style="`color: ${selectedItem.has_kitchen === true ? 'green': 'gray'};`"><v-icon small :color="selectedItem.has_kitchen ? 'success': 'gray'">restaurant_menu</v-icon> {{selectedItem.has_kitchen ? 'Yes' : 'No'}}</td>
                </tr>
                <tr>
                  <th>Has Airconditioner:</th>
                  <td :style="`color: ${selectedItem.has_airconditioning === true ? 'green': 'gray'};`"><v-icon small :color="selectedItem.has_airconditioning ? 'success': 'gray'">ac_unit</v-icon> {{selectedItem.has_airconditioning ? 'Yes' : 'No'}}</td>
                </tr>
                <tr>
                  <th>Has WiFi:</th>
                  <td :style="`color: ${selectedItem.has_wifi === true ? 'green': 'gray'};`"><v-icon small :color="selectedItem.has_wifi ? 'success': 'gray'">wifi</v-icon> {{selectedItem.has_wifi ? 'Yes' : 'No'}}</td>
                </tr>
                <tr>
                  <th>Has Parking:</th>
                  <td :style="`color: ${selectedItem.has_parking === true ? 'green': 'gray'};`"><v-icon small :color="selectedItem.has_parking ? 'success': 'gray'">local_parking</v-icon> {{selectedItem.has_parking ? 'Yes' : 'No'}}</td>
                </tr>
                <tr>
                  <th>Is Furnished:</th>
                  <td :style="`color: ${selectedItem.is_furnished === true ? 'green': 'gray'};`"><v-icon small :color="selectedItem.is_furnished ? 'success': 'gray'">local_hotel</v-icon> {{selectedItem.is_furnished ? 'Yes' : 'No'}}</td>
                </tr>
              </table>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Images from './Images.vue'
import Rating from './Rating.vue';
export default {
  name: 'home-listing',
  props: {
    items: Array
  },
  components: {
    'images': Images,
    'item-rating': Rating
  },
  data () {
    return {
      selectedItem: null,
      showQuickView: false,
      isGridView: false
    }
  },
  computed: {
    Listing () {
      return [
        ...this.items
      ].reverse()
    },
    defaultImage () {
      return '/images/no-image-en.png'
    }
  },
  watch: {
    isGridView (val) {
      localStorage.setItem('isGridView', val)
    }
  },
  created () {
    let isGridView = localStorage.getItem('isGridView')
    if (isGridView !== null) {
      this.isGridView = isGridView
    }
  },
  methods: {
    getFirstImage(list, noDefault) {
      console.log('getFirstImage', {list, noDefault})
      if (!list || list.length < 1) {
        return noDefault ? '' : this.defaultImage
      }
      return window.baseURL + list[0]
    },
    showImage (url, noDefault) {
      if (!url) {
        return noDefault ? '' : this.defaultImage
      }
      return window.baseURL + url
    },
    showItem (item) {
      this.selectedItem = this.clone(item)
      this.showQuickView = true
    },
    clone (obj) {
      if (typeof obj !== 'object') {
        return obj
      }
      return JSON.parse(JSON.stringify(obj))
    },
    getLisitngTitle (item, noPrice) {
      let txt = ''
      if (item && item.type && item.type.name) {
        if (item.quantity > 0) {
          txt += item.quantity === 1 ? '' : item.quantity 
          txt += (item.quantity === 1 ? ' ' + item.type.name.toLocaleLowerCase() : item.type.name.toLocaleLowerCase() + 's')
        } else {
          txt += item.type.name
        }
        if (!noPrice && item.is_for_rent && !item.is_for_sale) {
          txt += ' for rent'
          if (item.rent_price) {
            txt += ' for ' + item.rent_price.toLocaleString('en-GB') + ' ' + (item.rent_currency && item.rent_currency.Code ? item.rent_currency.Code : '')
          }
        } else if (!noPrice && !item.is_for_rent && item.is_for_sale) {
          txt += ' for rent'
          if (item.rent_price) {
            txt += ' for ' + item.sale_price.toLocaleString('en-GB') + ' ' + (item.sale_currency && item.sale_currency.Code ? item.sale_currency.Code : '')
          }
        } else {
          txt += ' for sale'
        }
      }
      return txt
    },
    getListingDescription (item) {
      let txt = ''
      if (item && item.address && item.address.name) {
        txt += item.address.name + ' '
      } else if (item && item.address.city) {
        txt += item.address.city + ', ' + item.address.country + ' '
      }
      if (item.created_at) {
        let dStr = new Date(item.created_at).toLocaleString('en-GB')
        txt += dStr.substring(0, dStr.length - 3) // + ' ' + (new Date(item.created_at).toLocaleTimeString('en-GB'))
      }
      return txt
    }
  }
}
</script>
<style>
.home-listing-wrapper .list-type-control-btns {
  float: right;
  margin-top: -1.5em;
}
.home-listing-wrapper .list-type-control-btns button.v-btn {
  z-index: 3;
}
.home-listing-wrapper .price-tag-chip {
  position: absolute;
  right: -4px;
  bottom: -4px;
  z-index: 2;
}
.home-listing-wrapper .square-avatar {
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
}
.home-listing-wrapper .square-avatar img {
  border-radius: 0;
  min-width: 5em;
  width: 100%;
  height: auto;
  margin-left: 0.8em;
}
.home-listing-wrapper .amenities-icons {
  min-height: 2em;
}
.home-listing-wrapper .amenities-icons .v-icon {
  border: 1px solid;
  border-radius: 0.2em;
  margin: 0.1em;
  padding: 0.1em;
  cursor: help;
}
.home-listing-wrapper .views-count {
  color: #a0a0a0;
  cursor: pointer;
}
.home-listing-wrapper .list-view-card-item {
  border-radius: 5px;
}
.home-listing-wrapper .v-rating .v-icon {
  padding-right: 1px;
  padding-left: 1px;
}
.home-listing-wrapper .list-view-card-item .v-card__actions .v-chip .v-chip__content {
  padding-left: 6px;
  height: 20px;
}
.home-listing-wrapper .address-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  overflow: hidden;
}
</style>
