<template>
  <div class="house-details-wrapper">
    <div v-if="!errorMessage && data">
      <!-- <pre>{{data}}</pre> -->
      <v-layout row wrap>
        <v-flex xs12 sm5>
          <agent-card class="pa-1" :id="data.agen_user_id"></agent-card>
          <images :imageURLs="data.image_urls"></images>
        </v-flex>
        <v-flex xs12 sm7 pa-2>
          <router-link :to="'/house/'+id" style="max-width: 35em;">
            <h1>
              {{data.type.name}} for {{data.is_for_rent ? 'rent' : 'sale'}}
              {{data.is_for_rent && data.rent_price && data.rent_currency ? '@ ' + data.rent_price.toLocaleString('en-GB') + ' ' + data.rent_currency.Code  : ''}}
              {{data.is_for_sale && data.sale_price && data.sale_currency ? '@ ' + data.sale_price.toLocaleString('en-GB') + ' ' + data.sale_currency.Code  : ''}}
            </h1>
          </router-link>
          <div class="contacts">
            <span class="ml-2" v-for="contact in data.contacts" :key="contact.value">
              <v-icon small>{{contact.icon}}</v-icon>
              {{contact.value}}
            </span>
          </div>
          <v-layout row wrap justify-start>
            <v-flex xs12>
              <table class="table details-table">
                <tr>
                  <th>Listing type:</th>
                  <td v-if="data.type">{{data.type.name}}</td>
                </tr>
                <tr>
                  <th>For:</th>
                  <td>{{data.is_for_rent ? 'Rent' : 'Selling'}}</td>
                </tr>
                <tr>
                  <th>Rooms:</th>
                  <td>{{data.rooms_count}}</td>
                </tr>
                <tr>
                  <th>Bathooms:</th>
                  <td>{{data.bathrooms_count}}</td>
                </tr>
                <tr>
                  <th>Price:</th>
                  <td v-if="data.is_for_rent">{{data.rent_price.toLocaleString('en-GB')}} {{data.rent_currency.Code}}</td>
                  <td v-else>{{data.sale_price.toLocaleString('en-GB')}} {{data.sale_currency.Code}}</td>
                </tr>
                <tr>
                  <th>Quantity:</th>
                  <td>{{data.quantity}}</td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align: center">
                    <h2>Amenities</h2>
                  </td>
                </tr>
                <tr>
                  <th>Has Kitchen:</th>
                  <td :style="`color: ${data.has_kitchen === true ? 'green': 'gray'};`"><v-icon small :color="data.has_kitchen ? 'success': 'gray'">restaurant_menu</v-icon> {{data.has_kitchen ? 'Yes' : 'No'}}</td>
                </tr>
                <tr>
                  <th>Has Airconditioner:</th>
                  <td :style="`color: ${data.has_airconditioning === true ? 'green': 'gray'};`"><v-icon small :color="data.has_airconditioning ? 'success': 'gray'">ac_unit</v-icon> {{data.has_airconditioning ? 'Yes' : 'No'}}</td>
                </tr>
                <tr>
                  <th>Has WiFi:</th>
                  <td :style="`color: ${data.has_wifi === true ? 'green': 'gray'};`"><v-icon small :color="data.has_wifi ? 'success': 'gray'">wifi</v-icon> {{data.has_wifi ? 'Yes' : 'No'}}</td>
                </tr>
                <tr>
                  <th>Has Parking:</th>
                  <td :style="`color: ${data.has_parking === true ? 'green': 'gray'};`"><v-icon small :color="data.has_parking ? 'success': 'gray'">local_parking</v-icon> {{data.has_parking ? 'Yes' : 'No'}}</td>
                </tr>
                <tr>
                  <th>Is Furnished:</th>
                  <td :style="`color: ${data.is_furnished === true ? 'green': 'gray'};`"><v-icon small :color="data.is_furnished ? 'success': 'gray'">local_hotel</v-icon> {{data.is_furnished ? 'Yes' : 'No'}}</td>
                </tr>
              </table>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </div>
    <v-card v-else-if="errorMessage.length > 0">
      <h3 class="error--text">
        {{errorMessage}}
      </h3>
    </v-card>
  </div>
</template>
<script>
import AgentCard from './AgentCard.vue'
import Images from './Images'
export default {
  name: 'house-details',
  props: {
    id: String
  },
  components: {
    'agent-card': AgentCard,
    'images': Images
  },
  data () {
    return {
      data: null,
      errorMessage: 'Loading...'
    }
  },
  computed: {
    defaultImage () {
      return '/images/no-image-en.png'
    }
  },
  watch: {
    id (val) {
      console.log('ID', val)
      this.getHouseData()
    }
  },
  beforeMount () {
    console.log('beforeMount', this.id)
    this.getHouseData()
  },
  methods: {
    getFirstImage(list, noDefault) {
      if (!list) {
        return noDefault ? '' : this.defaultImage
      }
      return window.baseURL + list[0]
    },
    showImage (url, noDefault) {
      if (!url) {
        return noDefault ? '' : this.defaultImage
      }
      return window.baseURL + url
    },
    getHouseData () {
      if (!this.id) {
        this.errorMessage = 'Invalid house ID'
        return
      }
      let self = this
      this.$store.dispatch('GET_HOUSE_BY_ID', this.id).then(resp => {
        self.errorMessage = ''
        console.log('getHouseData', resp.house)
        self.data = resp.house
      }).catch(err => {
        self.errorMessage = err.toString()
        self.data = null
      })
    }
  }
}
</script>
<style>
.house-details-wrapper {
  min-height: 35em;
}
.details-table {
  min-width: 100%;
}
.details-table th {
  text-align: right;
  max-width: 5em;
}
.details-table td {
  padding-left: 1em;
  text-align: left;
  max-width: 5em;
}
</style>

