<template>
  <div class="map-wrapper">
    <div v-if="errMessage !== ''" class="ui negative message">
      {{$t(errMessage)}}
    </div>
    <div v-show="ready" id="mapItem" :style="mapHeight || ''" ref="mapItem"></div>
    <div v-show="!ready && !failed" class="ui segment loading-wrapper">
      <div class="ui active dimmer">
        <div class="ui loader"></div>
      </div>
    </div>
  </div>
</template>

<script>
import {location} from '../../services'
import {EventBus} from '../../main'

export default {
  name: 'map-item',
  props: {
    zoom: {
      type: Number,
      default: 16
    },
    iconType: {
      type: String,
      default: 'current' // start, end, current
    },
    initialCenter: {
      type: Object,
      default: null
    },
    noCenterMarker: {
      type: Boolean,
      default: true
    },
    clickCallback: {
      type: Function,
      default: function (location) {
        console.log('clickCallback', location)
      }
    },
    itemMarkers: {
      type: Array,
      default: () => {
        return []
      }
    },
    addMarkerByClick: {
      type: Boolean,
      default: false
    },
    mapHeight: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      Instance: null,
      Wait: 0,
      Markers: [],
      currentLocation: null,
      errMessage: '',
      ready: false,
      failed: false,
      icons: {
        current: 'http://maps.google.com/mapfiles/kml/paddle/grn-blank.png',
        start: 'http://maps.google.com/mapfiles/kml/paddle/go.png',
        end: 'http://maps.google.com/mapfiles/kml/paddle/stop.png'
      },
      retryCount: 0
    }
  },
  methods: {
    showSummaryPopup (id) {
      console.log('showSummaryPopup', id)
      if (!id) {
        return
      }
      let data = {}
      for (var i = 0; i < this.itemMarkers.length; i++) {
        if (this.itemMarkers[i].id === id) {
          data = this.itemMarkers[i]
        }
      }
      this.$store.commit('SHOW_HOUSE_MAP_POPUP', {id, type: 'house', data})
      this.$forceUpdate()
    },
    addItemMarkers () {
      console.log('addItemMarkers', this.itemMarkers)
      if (this.itemMarkers === null) {
        return
      }
      let icon = 'http://maps.google.com/mapfiles/kml/pushpin/grn-pushpin.png'
      for (var i = 0; i < this.itemMarkers.length; i++) {
        let lat = this.itemMarkers[i].lat
        let long = this.itemMarkers[i].long
        this.addMarker({lat, long}, {readOnly: true, title: this.itemMarkers[i].title, description: this.itemMarkers[i].description, icon, img: window.baseURL + this.itemMarkers[i].img})
      }
    },
    resetNearbyDistricts (location) {
      console.log('resetNearbyDistricts', location)
      EventBus.$emit('resetNearbyDistricts', {location})
    },
    InitMap () {
      clearInterval(this.Wait)
      console.log('InitMap', {gmap: typeof window.google, count: this.retryCount})
      clearInterval(this.Wait)
      let element = this.$refs.mapItem
      console.log('element', typeof element)
      if (typeof element === 'undefined' || typeof window.google === 'undefined') {
        this.tryAgain(1)
        return
      }
      let isCurrent = false
      let lat = null
      let long = null
      // let minLat = null
      // let minLong = null
      // let maxLat = null
      // let maxLong = null
      if (this.initialCenter === null && this.currentLocation === null) {
        console.log('both center not available', {initialCenter: this.initialCenter, currentLocation: this.currentLocation})
        this.tryAgain(2)
      } else if (this.initialCenter !== null && (this.initialCenter.hasOwnProperty('lat') || this.initialCenter.hasOwnProperty('long'))) {
        console.log('initial center not available', {initialCenter: this.initialCenter})
        lat = this.initialCenter.lat
        long = this.initialCenter.long
      } else if (this.currentLocation !== null) {
        console.log('current location not available', {currentLocation: this.currentLocation})
        lat = this.currentLocation.lat
        long = this.currentLocation.long
        isCurrent = true
      } else {
        console.log('still not available', {initialCenter: this.initialCenter, currentLocation: this.currentLocation})
        this.errMessage = 'Location service is not available'
        this.tryAgain(1)
        return
      }
      console.log('options:', {lat, long})
      if (lat === null || long === null) {
        this.tryAgain(1)
        return
      } else {
        this.ready = true
      }
      let options = {
        zoom: this.zoom,
        disableDefaultUI : true,
        mapTypeControlOptions: {
            mapTypeIds: ['map_style']
        },
        mapTypeId: 'map_style',
        center: new window.google.maps.LatLng(lat, long)
      }
      console.log(options)
      let styledMap = new window.google.maps.StyledMapType({
        stylers: [{ color: "#ffffff" }]
      })
      this.Instance = new window.google.maps.Map(element, options)
      this.Instance.mapTypes.set('map_style', styledMap)
      clearInterval(this.Wait)
      let self = this
      // window.google.maps.event.addListener(this.Instance, 'zoom_changed', function (e) {
      //   console.log('zoom_changed')
      //   let minSize = 8
      //   let maxSize = 350
      //   let zoom = self.Instance.getZoom()
      //   let relateiveSize = Math.round(minSize * Math.pow(2, zoom))
      //   if (relateiveSize > maxSize) {
      //     relateiveSize = maxSize
      //   }
      //   for (var i = 0; i < self.Markers.length; i++) {
      //     console.log('icon', self.Markers[i].icon)
      //     self.Markers[i].setIcon(
      //       new window.google.maps.MarkerImage(
      //         self.Markers[i].icon,
      //         null,
      //         null,
      //         null,
      //         new window.google.maps.Size(relateiveSize, relateiveSize)
      //       )
      //     )
      //   }
      // })
      if (this.addMarkerByClick) {
        window.google.maps.event.addListener(this.Instance, 'click', function (e) {
          console.log('map.click_event', JSON.stringify(e))
          let coords = e.latLng
          self.addMarker({lat: coords.lat(), long: coords.lng()})
          self.clickCallback({lat: coords.lat(), long: coords.lng()})
        })
      }
      console.log('noCenterMarker', self.noCenterMarker)
      if (self.noCenterMarker !== true) {
        self.clickCallback({lat, long}, true)
        this.addMarker({lat, long}, {title: 'Current location', description: `You are currently in (${lat}, ${long})`, readOnly: true, isCurrent})
      }
      for (var i = 0; i < this.itemMarkers.length; i++) {
        if (this.itemMarkers[i].lat && this.itemMarkers[i].long) {
          this.addMarker({lat: this.itemMarkers[i].lat, long: this.itemMarkers[i].long}, {title: this.itemMarkers[i].prefix + ' ' + Number(this.itemMarkers[i].amount).toLocaleString('en-US') + ' ' + this.itemMarkers[i].currency, description: ``, readOnly: true, isCurrent, id: this.itemMarkers[i].id, detailsURL: '/homes/' + this.itemMarkers[i].id, img: window.baseURL + this.itemMarkers[i].img})
        }
      }
    },
    tryAgain (afterSeconds) {
      if (typeof afterSeconds !== 'number') {
        afterSeconds = 1
      }
      this.retryCount++
      if (this.retryCount > 15) {
        this.errMessage = 'Map loading timeout'
        clearInterval(this.Wait)
        this.$store.commit('APP_LOADING', {enable: false, msg: 'Loading...'})
        this.failed = true
        return
      }
      this.ready = false
      this.Wait = setTimeout(() => {
        this.InitMap()
      }, afterSeconds * 1000)
    },
    getCurrentLocation () {
      console.log('getCurrentLocation', this.$store.getters.isMogadishu)
      let self = this
      if (this.$store.getters.isMogadishu) {
        let location = self.$store.getters.getMogadishu
        self.currentLocation = location
        self.forceMapShowing = true
        let addressParts = String(location.address.FormattedAddress).split(',') || ['', '']
        let street = location.address.Street ? location.address.Street : (addressParts[0] || '')

        self.startPlace = `${location.address.name ? location.address.name + ', ' : ''} ${street}, ${location.address.City || location.address.Suburb}`
        self.resetNearbyDistricts(self.currentLocation)
        self.$store.commit('APP_LOADING', {enable: false, msg: 'Loading...'})
        return
      }
      location.getCurrentCoordinates().then(resp => {
        console.log('location.getCurrentCoordinates response', resp)
        self.$store.commit('SET_LAST_COORDS', resp)
        self.$store.commit('APP_LOADING', {enable: false, msg: 'Loading...'})
        self.currentLocation = resp
      }).catch(err => {
        console.log('location.getCurrentCoordinates error', err)
        self.errMessage = err.toString()
        if (err.toString().indexOf('Network Error') > -1) {
          self.$store.commit('setOnline', {online: false})
        }
        self.currentLocation = self.$store.getters.storedCoords
      })
    },
    addMarker (coords, more) {
      let lat = null
      let long = null
      if (!coords) {
        return
      } else {
        lat = typeof coords.lat === 'function' ? coords.lat() : coords.lat
        long = typeof coords.long === 'function' ? coords.long() : coords.long
      }
      if (!lat || !long) {
        console.log('not valid coordinates', coords)
        return
      }
      let options = {
        position: new window.google.maps.LatLng(lat, long),
        map: this.Instance,
      }
      let len = this.Markers.length
      while (len) {
        len--
        console.log(`remove marker? ${!this.Markers[len].readOnly}`, this.Markers[len])
        if (this.Markers[len].readOnly) {
          continue
        }
        this.Markers.pop().setMap(null)
      }
      let iconUrl = ''
      if (more && more.icon) {
        iconUrl = more.icon
      } else if (more && more.isCurrent) {
        iconUrl = this.icons['current']
      } else {
        iconUrl = this.icons[this.iconType]
      }
      console.log('marker options', options)
      var marker = new window.google.maps.Marker(options)
      marker.setIcon(new window.google.maps.MarkerImage(
        iconUrl,
        null,
        null,
        null,
        new window.google.maps.Size(32, 32)
      ))
      if (more && more.readOnly) {
        marker.readOnly = true
      }
      this.Markers.push(marker)
      if (!more) {
        more = {}
      }
      if (!more.id) {
        more.id = null
      }
      let text = `<div class="map-house-content" onclick="showSummaryPopup('${more.id}')">`
      if (more && more.title) {
        let title = more.title || `(${lat}, ${long})`
        console.log('MORE', more)
        text += `
          <h4 class="map-house-title" onclick="showSummaryPopup('${more.id}')">${title}</h4><br/>`
      }
      if (more && more.description) {
        text += `<p class="map-house-text" onclick="showSummaryPopup('${more.id}')">${more.description}</p>`
      }
      console.log('more:', more.img)
      if (more.img) {
        text += `<image style="width:13em;" onclick="showSummaryPopup('${more.id}')" src="${more.img}" />`
      }
      text += `</div>`
      let infoWorld = new window.google.maps.InfoWindow({content: text})
      let self = this
      marker.addListener('click', function () {
        console.log('marker.click::', infoWorld)
        infoWorld.open(self.Instance, marker)
      })
      infoWorld.open(self.Instance, marker)
    }
  },
  beforeMount () {
    this.getCurrentLocation()
    this.InitMap()
    let self = this
    EventBus.$on('SSEReceived', () => {
      setTimeout(() => {
        self.addItemMarkers()
      }, 750)
    })
    EventBus.$on('SEARCH_COORDS_CHANGED', data => {
      console.log('SEARCH_COORDS_CHANGED', data)
      self.currentLocation = data
      self.$nextTick(() => {
        self.InitMap()
      })
    })
    window.showSummaryPopup = this.showSummaryPopup
  },
  beforeDestroy () {
    clearInterval(this.Wait)
  },
  destroyed () {
    clearInterval(this.Wait)
  }
}
</script>
<style>
#mapItem, .loading-wrapper {
  height: 90vh;
  min-height: 30em;
  box-shadow: 0 0 1em #aaaaaa;
}
#mapItem .map-house-title {
  color: #3f51b5 !important;
  font-size: 1.2em;
  float: left;
  min-height: 100%;
  padding: 0.2em;
  cursor: pointer;
}
#mapItem .map-house-content {
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.5);
  padding: 0.1em;
}
#mapItem .map-house-content img {
  margin-bottom: -0.2em;
  margin-left: 0.1em;
  margin-right: 0.1em;
}
</style>
