<template>
  <div class="rating-rating-wrapper">
    <v-rating
      v-model="rating"
      background-color="green lighten-3"
      color="green"
      small
      :readonly="isReadonly"
    ></v-rating>
  </div>
</template>
<script>
export default {
  name: 'rating-rating',
  props: {
    isReadonly: Boolean,
    Value: Number,
    id: String,
    target: String
  },
  data () {
    return {
      rating: 1,
      response: null
    }
  },
  created () {
    if (!this.id) {
      this.rating = this.Value
    }
    this.getRatingData(this.id, this.target || 'agent')
  },
  watch: {
    rating () {
      this.ratingChanged()
    }
  },
  methods: {
    ratingChanged () {
      console.log('ratingChanged', this.rating)
      this.$store.dispatch('ADD_RATING', {id: this.id, target: (this.target || 'agent'), rate: this.rating, comment: ''}).then(resp => {
        console.log('ratingChanged response', resp)
      }).catch(err => {
        console.log('ratingChanged error', err)
      })
    },
    getRatingData(id, target) {
      let self = this
      if (!id || !target) {
        return
      }
      this.$store.dispatch('GET_REVIEWS_DATA', {id, target}).then(resp => {
        console.log('getRatingData response', resp)
        self.response = resp.data.agent_ratings
        let total = 0
        total += self.response.five_star_count
        total += self.response.four_star_count
        total += self.response.three_star_count
        total += self.response.two_star_count
        total += self.response.one_star_count
        self.rating = total || 1
      }).catch(err => {
        console.log('getRatingData error', err)
      })
    }
  }
}
</script>
