<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12>
        <form class="newImage" ref="newImage" @submit.prevent="submit">
          <input type="file" name="newImage" ref="imageInput" id="newImage" accept="image/*" @change="fileChanged">
          <p v-if="!label">Upload your file here</p>
          <p v-else>{{label}}</p>
        </form>
      </v-flex>
    </v-layout>
    <h5 v-if="selectedFiles" class="mt-2">New Files</h5>
    <v-layout row wrap class="bordered-1">
      <v-flex pa-1 xs6 sm4 v-for="(item, index) in selectedFiles" :key="item.name">
        <v-card>
          <v-img :src="item.src" aspect-ratio="1.2"></v-img>
          <v-card-title class="pb-0">
            {{item.file.name | trimmiddle(20, 10)}}
          </v-card-title>
          <v-card-actions>
            {{item.file.size | datasize}}
            <v-spacer></v-spacer>
            <v-btn icon color="error--text" @click="removeFile(index)">
              <v-icon>delete</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
// import vue2Dropzone from 'vue2-dropzone'
// import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import { EventBus } from '../../../main';

export default {
  name: 'drop-file',
  components: {
    // vueDropzone: vue2Dropzone
  },
  props: {
    autoUpload: Boolean,
    label: String,
    uploaderID: String,
  },
  data () {
    return {
      selectedFiles: [],
      uploadedFiles: []
    }
  },
  mounted () {
    EventBus.$on('start-upload-'+this.uploaderID, (data) => {
      console.log('start-upload-'+this.uploaderID, this.clone(data))
      if (this.selectedFiles.length < 1) {
        this.$emit('uploadSuccess', null)
      }
      if (data && data.id) {
        // this.$refs.myVueDropzone.dropzone.options.url = window.baseURL + this.url+`?targetID=${data.id}&targetItem=house`
        // this.$store.dispatch('UPLOAD_IMAGES', {targetID: data.id, targetItem: 'house', files: this.selectedFiles})
        let self = this
        for (var i = 0; i < this.selectedFiles.length; i++) {
          let index = i
          if (this.selectedFiles[i] && this.selectedFiles[i].file) {
            this.$store.dispatch('UPLOAD_IMAGE', {file: this.selectedFiles[i].file, targetID: data.id, targetItem: 'house'}).then(resp => {
              self.uploadedFiles.push({...resp})
              if (index === self.selectedFiles.length - 1) {
                for (var j = self.selectedFiles.length - 1; j >= 0; j--) {
                  self.selectedFiles.splice(j, 1)
                }
                if (self.selectedFiles.length === 0) {
                  this.$emit('uploadSuccess', self.uploadedFiles)
                } else {
                  this.$emit('uploadFailed', self.selectedFiles, self.uploadedFiles)
                }
              }
            })
          }
        }
      }
    })
  },
  methods: {
    removeFile (index) {
      this.selectedFiles.splice(index, 1)
    },
    submit (e) {
      console.log('submit', e)
    },
    clone (obj) {
      return JSON.parse(JSON.stringify(obj))
    },
    fileSelected (e) {
      var files = Array.from(e.target.files)
      for (var i = 0; i < files.length; i++) {
        let file = files[i]
        console.log('file-'+i, file)
        this.selectedFiles.push({file})
      }
      console.log('fileSelected', this.selectedFiles)
    },
    fileChanged (e) {
      var file = e.target.files[0]
      console.log('fileChanged', {e, file})
      var reader  = new FileReader();
      let self = this
      reader.onload = function (event) {
        let src = event.target.result
        self.selectedFiles.push({file, src})
        e.target.value = ''
      }
      reader.readAsDataURL(file)
    }
  }
}
</script>
<style>
.newImage {
  position: relative;
  min-height: 5em;
  min-width: 100%;
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.newImage input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}
.newImage p {
  width: 100%;
  text-align: center;
  z-index: 1;
  margin-top: 1.5em;
  color: rgba(0, 0, 0, 0.3);
}
.selected-files-prating {
  min-height: 5em;
  background-position: center;
  background-size: cover;
}
</style>
