<template>
  <div class="home-form-wrapper">
    <h1></h1>
    <form @submit.prevent="login">
      <v-card class="elevation-1">
        <v-toolbar dark color="primary">
          <v-toolbar-title>{{home.type && home.type.name ? home.type.name : 'Home'}} {{isForRentOrSell ? 'for rent' : 'for sale'}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon dark @click="closePopup"> <v-icon>close</v-icon> </v-btn>
        </v-toolbar>
        <v-card-text>

          <v-layout row wrap>
            <v-flex xs12 text-xs-center>
              <v-radio-group v-model="isForRentOrSell" :column="false" style="justify-content: center;">
                <v-radio
                  label="Is for rent"
                  :value="true"
                ></v-radio>
                <v-radio
                  label="Is for sale"
                  :value="false"
                ></v-radio>
              </v-radio-group>
            </v-flex>
            <v-flex xs12 text-xs-center>
              <v-select
                :items="house_types"
                class="home-type-selection"
                item-text="name"
                label="Type of the house/building"
                return-object
                :value="home.type"
                @change="houseTypeChanged"
              ></v-select>
            </v-flex>
          </v-layout>
          
          <v-layout row wrap>
            <v-flex xs12 sm4 v-if="!(home.type && home.type.name === 'Room')">
              <v-text-field name="Rooms" label="Rooms" type="number" :min="0" :step="1" v-model="home.rooms_count"></v-text-field>
            </v-flex>
            <v-flex xs12 sm4>
              <v-text-field name="Bathrooms" label="Bathrooms" type="number" :min="0" :step="1" v-model="home.bathrooms_count"></v-text-field>
            </v-flex>
            <v-flex xs12 sm4 v-if="home.is_for_rent">
              <label style="font-size: 12px; color: rgba(0,0,0,0.54);">
                Rent Currency
                <vue-select v-model="home.rent_currency" :options="allCurrencies" label="Name"></vue-select>
              </label>
            </v-flex>
            <v-flex xs12 sm4 v-if="home.is_for_sale">
              <label style="font-size: 12px; color: rgba(0,0,0,0.54);">
                Selling Currency
                <vue-select v-model="home.sale_currency" :options="allCurrencies" label="Name"></vue-select>
              </label>
            </v-flex>
            <v-flex xs12 sm4 v-if="home.is_for_rent">
              <v-text-field name="RentPrice" label="Rent price" type="number" :min="1" :step="1" v-model="home.rent_price"></v-text-field>
            </v-flex>
            <v-flex xs12 sm4 v-if="home.is_for_sale">
              <v-text-field name="SellingPrice" label="Selling Price" type="number" :min="1" :step="1" v-model="home.sale_price"></v-text-field>
            </v-flex>
            <v-flex xs12 sm4>
              <v-text-field name="Quantity" label="Available quantity" type="number" :min="1" :step="1" v-model="home.quantity"></v-text-field>
            </v-flex>
            <v-flex xs12 v-if="addressOnly">
              <v-btn flat small @click="addressOnly = false">
                <v-icon>add_location</v-icon>
                Show map
              </v-btn>
              <!-- <v-text-field name="Address" label="Address" type="text" v-model="home.address"></v-text-field> -->
              <vue-google-autocomplete
                id="edit-home-address"
                classname=""
                :placeholder="home.address && home.address.name ? home.address.name : 'Start typing'"
                :country="['ke', 'so']"
                @placechanged="getAddressData"
              ></vue-google-autocomplete>
            </v-flex>
            <v-flex xs12 v-else>
              <v-btn flat small @click="addressOnly = true">
                <v-icon>add_location</v-icon>
                Address
              </v-btn>
              <map-item v-if="showMap" :addMarkerByClick="true" :clickCallback="changeAddress" :initialCenter="addressCoords" style="height: 500px"></map-item>
              <div v-else  class="mb-3">
                <b>Selected Coordinates:</b>
                <div>{{(home.address.lat).toFixed(4)}} lat, {{(home.address.long).toFixed(4)}} long</div> 
                <br>
                <b v-if="home.address.name">Reversed to:</b>
                <div>{{home.address.name}}</div>
                <a href="" @click.prevent="showMap = true">Show map</a>
              </div>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs12 class="checkbox-controls-wrapper">
              <v-checkbox class="ml-2 ma-0" prepend-icon="restaurant_menu" v-model="home.has_kitchen" label="Has kitchen?"></v-checkbox>
              <v-checkbox class="ml-2 ma-0" prepend-icon="ac_unit" v-model="home.has_airconditioning" label="Has A/C?" title="Has Airconditioner"></v-checkbox>
              <v-checkbox class="ml-2 ma-0" prepend-icon="wifi" v-model="home.has_wifi" label="Has WiFi?" title="Has WiFi Internet"></v-checkbox>
              <v-checkbox class="ml-2 ma-0" prepend-icon="local_parking" v-model="home.has_parking" label="Has Parking?" title="Has Parking"></v-checkbox>
              <v-checkbox class="ml-2 ma-0" prepend-icon="local_hotel" v-model="home.is_furnished" label="Is Furnished?" title="Is Furnished"></v-checkbox>
            </v-flex>
            <v-flex xs12 v-if="!uploadImage && home.image_urls && home.image_urls[0]">
              <v-layout row wrap class="home-image">
                <v-flex pa-1 xs12>
                  <v-btn flat icon class="toggleUpload" @click="uploadImage = !uploadImage">
                    <v-icon :color="uploadImage ? 'success' : 'gray'">cloud_upload</v-icon>
                  </v-btn>
                  <v-img :src="baseURL + home.image_urls[0]" aspect-ratio="1.2"></v-img>
                </v-flex>
                <v-flex pa-1 xs4 v-for="(image, index) in home.image_urls.slice(1)" :key="index">
                  <v-img :src="baseURL + image" aspect-ratio="1.2"></v-img>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 v-else>
              <div class="home-image ml-2">
                <v-btn flat icon class="toggleUpload" @click="uploadImage = !uploadImage">
                  <v-icon :color="uploadImage ? 'success' : 'gray'">cloud_upload</v-icon>
                </v-btn>
                
                <dropfile
                  :uploaderID="houseImageUploaderID"
                  @uploadSuccess="uploadSuccess"
                  @uploadFailed="uploadFailed"
                ></dropfile>
              </div>
            </v-flex>
          </v-layout>

          <v-btn
            color="primary"
            @click="startUploadingImages()"
          >
            Update
          </v-btn>

        </v-card-text>
      </v-card>
    </form>
  </div>
</template>
<script>
import VueGoogleAutocomplete from 'vue-google-autocomplete'
import {mapGetters} from 'vuex'
import Map from '../Map.vue'
import DropFile from './DropFile.vue'
import { EventBus } from '../../../main';
export default {
  name: 'edit-form',
  components: {
    'map-item': Map,
    'dropfile': DropFile,
    'vue-google-autocomplete': VueGoogleAutocomplete
  },
  props: {
    item: Object
  },
  data () {
    return {
      currentStep: 1,
      newAddress: '',
      loading: false,
      home: {
        rooms_count: 1,
        bathrooms_count: 0,
        type: null,
        rent_price: 1,
        sale_price: 0,
        rent_currency: null,
        sale_currency: null,
        address: null,
        quantity: 1,
        has_kitchen: false,
        has_airconditioning: false,
        has_wifi: false,
        has_parking: false,
        is_furnished: false,
        is_for_rent: true,
        is_for_sale: false,
        image_urls: []
      },
      addressOnly: true,
      showMap: true,
      isForRentOrSell: true,
      uploadImage: false,
      houseImageUploaderID: 'house-images-edit'
    }
  },
  computed: {
    ...mapGetters(['house_types', 'currencies']),
    allCurrencies () {
      if (!this.currencies) {
        return []
      }
      let topCurrencies = ['USD', 'SOS', 'KES']
      return this.currencies.slice().sort((a) => {
        return topCurrencies.indexOf(a.Code) >= 0 ? -1 : 1
      })
    },
    addressCoords () {
      if (this.home.address === null) {
        return {}
      }
      return {lat: this.home.address.lat, long: this.home.address.long}
    },
    baseURL () {
      return window.baseURL
    }
  },
  created () {
    this.getHouseTypes()
    this.getAgent()
  },
  watch: {
    isForRentOrSell (val) {
      console.log('isForRentOrSell', val)
      if (val) {
        this.home.is_for_rent = true
        this.home.is_for_sale = false
      } else {
        this.home.is_for_rent = false
        this.home.is_for_sale = true
      }
    }
  },
  mounted () {
    console.log('mounted', this.item.is_for_rent)
    this.home = this.clone(this.item)
    this.isForRentOrSell = this.home.is_for_rent && !this.home.is_for_sale
  },
  methods: {
    updateImages (files) {
      return new Promise((resolve, reject) => {
        if (!this.home.image_urls) {
          this.home.image_urls = []
        }
        this.home.image_urls = files.map(item => {
          if (this.home.image_urls.indexOf(item) === -1) {
            return item.URL
          }
        })
        if (this.home.image_urls.length < files.length) {
          reject(`image_urls (${this.home.image_urls.length}) should be equal or more than uploaded files ${files.length}`)
        } else {
          resolve()
        }
      })
    },
    uploadSuccess (files) {
      console.log('uploadSuccess', files)
      if (files === null) {
        this.updateListing()
        return
      }
      if (!this.home.image_urls) {
        this.home.image_urls = []
      }
      this.updateImages(files).then(this.updateListing)
    },
    uploadFailed (failedFiles, succeededFiles) {
      console.log('uploadFailed', {failedFiles, succeededFiles})
    },
    priceChanged (val) {
      console.log('priceChanged', val)
      if (this.isForRentOrSell) {
        this.home.rent_price = Number(val)
      } else {
        this.home.sale_price = Number(val)
      }
    },
    reverseGeocode (location) {
      let self = this
      this.$store.dispatch('REVERSE_GEOCODE', location).then(resp => {
        console.log('reverseGeocode', resp)
        self.home.address.name 
        self.home.address.city = resp.address.city
        self.home.address.country = resp.address.country
        self.home.address.country_code = resp.address.country_code
        self.home.address.lat = resp.address.lat
        self.home.address.long = resp.address.long
        self.home.address.name = resp.address.name
        self.home.address.post_code = resp.address.post_code
        self.home.address.type = resp.address.type
        self.$forceUpdate()
      }).catch(err => {
        console.log('reverseGeocode ERROR', err)
      })
    },
    getAddressData (address, place, id) {
      console.log('getAddressData', {address, place, id})
      this.home.address =  address
    },
    changeAddress (location, noHide) {
      console.log('changeAddress', location)
      this.home.address = {long: location.long, lat: location.lat}
      this.reverseGeocode(location)
      if (!noHide) {
        this.showMap = false
      }
    },
    getAgent () {
      this.$store.dispatch('GET_AGENT')
    },
    houseTypeChanged (item) {
      console.log('houseTypeChanged', item)
      this.home.type = item
    },
    getHouseTypes () {
      let self = this
      this.$store.dispatch('GET_HOUSE_TYPES').then(() => {
        if (self.house_types && self.home.type === null) {
          self.home.type = self.house_types[0]
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    validateListing () {
      if (!this.home.address) {
        EventBus.$emit('alert_message', {type: 'error', text: 'Address is required'})
        return false
      }
      return true
    },
    updateListing () {
      let data = {}
      let self = this
      data.id = this.home.id
      data.agen_user_id = this.$store.getters.agent.id
      data.rooms_count = parseInt(this.rooms_count)
      data.bathrooms_count = parseInt(this.home.bathrooms_count)
      data.type = this.clone(this.home.type)
      data.address = this.home.address
      data.quantity = parseInt(this.home.quantity)
      data.has_kitchen = this.home.has_kitchen
      data.has_airconditioning = this.home.has_airconditioning
      data.has_wifi = this.home.has_wifi
      data.has_parking = this.home.has_parking
      data.image_urls = this.home.image_urls
      if (this.isForRentOrSell) {
        data.sale_price = 0
        data.rent_price = parseFloat(this.home.rent_price)
        data.rent_currency = this.home.rent_currency
        data.is_furnished = this.home.is_furnished
        data.is_for_rent = true
        data.is_for_sale = false
      } else {
        data.rent_price = 0
        data.sale_price = parseFloat(this.home.sale_price)
        data.sale_currency = this.home.sale_currency
        data.is_furnished = false
        data.is_for_sale = this.is_for_sale
        data.is_for_rent = false
        data.is_for_sale = true
      }
      if (!this.validateListing()) {
        return
      }
      this.$store.commit('APP_LOADING', true)
      this.$store.dispatch('UPDATE_LISTING', data).then(() => {
        self.$store.commit('APP_LOADING', false)
        self.$store.dispatch('GET_MY_LISTING')
        self.closePopup()
      }).catch(() => {
        self.$store.commit('APP_LOADING', false)
        self.closePopup()
      })
    },
    closePopup () {
      this.$emit('closePopup')
    },
    clone (obj) {
      if (typeof obj !== 'object') {
        return obj
      }
      return JSON.parse(JSON.stringify(obj))
    },
    imageUploadFailed (file, message, xhr) {
      console.log('imageUploadFailed', {file, message, xhr})
      this.imagesUploaded = false
      EventBus.$emit('alert_message', {type: 'error', text: 'Failed to upload files'})
    },
    successMultipleFiles (files, response) {
      console.log('successMultipleFiles', {files, response})
      this.$store.dispatch('GET_MY_LISTING')
      this.imagesUploaded = true
      this.closePopup()
    },
    failedMultipleFiles (files, message, xhr) {
      console.log('failedMultipleFiles', {files, message, xhr})
      this.imagesUploaded = false
      EventBus.$emit('alert_message', {type: 'error', text: 'Failed to upload files'})
    },
    startUploadingImages () {
      console.log('startUploadingImages', this.home.id)
      if (this.home && this.home.id) {
        EventBus.$emit('start-upload-'+this.houseImageUploaderID, this.home)
      }
    }
  }
}
</script>
<style>
.checkbox-controls-wrapper .v-input--checkbox {
  height: 2em;
}
.checkbox-controls-wrapper .v-input--checkbox .v-messages {
  display: none;
}
.checkbox-controls-wrapper .v-input--checkbox .v-input__slot {
  margin-bottom: 0;
}
/* .checkbox-controls-wrapper .v-input--checkbox .v-input__append-outer {
} */
.checkbox-controls-wrapper .v-input--checkbox .v-input__append-outer .v-icon {
  color: rgba(0, 0, 0, 0.2)
}
.checkbox-controls-wrapper .v-input--checkbox.v-input--is-label-active .v-icon {
  color: #1976d2;
}
.home-image {
  position: relative;
}
.home-image img {
  max-width: 100%;
  margin: auto;
  box-shadow: 0 0 0.5em -0.1em;
  border: 3px solid #fff;
}
.home-image .toggleUpload {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  z-index: 3;
}
.home-type-selection {
  max-width: 12em;
  margin: auto;
}
table.summary-table {
  width: 100%;
}
table.summary-table th {
  width: 50%;
  text-align: right;
  padding-right: 1em;
}
table.summary-table td {
  width: 50%;
  text-align: left;
  padding-left: 1em;
}
@media screen and (max-width: 600px) {
  .home-image img {
    max-height: auto;
    max-width: 100%;
    box-shadow: 0 0 0.5em -0.1em;
    border: 5px solid #fff;
  }
}
</style>
