<template>
  <div class="ipay-form-wrapper">
    <h1>Payment with iPay</h1>
    <pre>{{response}}</pre>
    <form v-if="response" action="https://payments.ipayafrica.com/v3/ke" method="post">
      <input type="text" name="hsh" id="hsh" :value="response.hash">
    </form>
  </div>
</template>
<script>
export default {
  name: 'ipay-form',
  data: () => ({
    response: null
  }),
  created () {
    let self = this
    this.$store.dispatch('GENERATE_IPAY_KEY').then(resp => {
      self.response = resp
    })
  }
}
</script>
