<template>
  <v-layout
    text-xs-center
    row
    wrap
    fill-height
    class="dashboard-wrapper"
  >
    <v-flex xs12>
      <h1>Dashboard</h1>

      <v-layout row wrap fill-height>
        <v-flex xs12 sm6 pb-2>
          <dashboard-listing :loading="loadingListing" :title="'My Listing'" @editItem="editItem" @deleteItem="deleteItem" @toggleNewListingForm="toggleNewListingForm" :Lisitng="Lisitng"></dashboard-listing>
        </v-flex>
        <v-flex xs12 sm6 pb-2>
          <dashboard-listing :loading="loadingMostViewed" :title="'Top Viewed'" @editItem="editItem" @deleteItem="deleteItem" @toggleNewListingForm="toggleNewListingForm" :Lisitng="most_viewd_listing"></dashboard-listing>
        </v-flex>
        <v-flex xs12 sm6 pb-2>
          <div class="bordered-1 ma-1 fill-height">
            <h2>Latest activities</h2>
          </div>
        </v-flex>
        <v-flex xs12 sm6 pb-2>
          <div class="bordered-1 ma-1 fill-height">
            <h2>Performance</h2>
          </div>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-dialog persistent v-model="newListing" width="600px">
      <home-form v-if="newListing" @closePopup="newListing = false"></home-form>
    </v-dialog>
    <v-dialog persistent v-model="editListing" width="600px">
      <edit-form v-if="editListing" @closePopup="editListing = false" :item="selectedListing"></edit-form>
    </v-dialog>
  </v-layout>
</template>

<script>
  import {mapGetters} from 'vuex'
  import HomeForm from './partials/forms/Home.vue'
  import Edit from './partials/forms/Edit.vue'
  import DashboardListing from './partials/DashboardListing.vue'

  export default {
    name: 'dashboard',
    components: {
      'home-form': HomeForm,
      'edit-form': Edit,
      'dashboard-listing': DashboardListing
    },
    data () {
      return {
        newListing: false,
        editListing: false,
        selectedListing: {},
        loadingListing: false,
        loadingMostViewed: false
      }
    },
    computed: {
      ...mapGetters(['listing', 'most_viewd_listing']),
      Lisitng () {
        return this.listing.reverse()
      }
    },
    created () {
      this.getMyListing()
      this.getMyMostViewedListing()
    },
    methods: {
      deleteItem (id) {
        let self = this
        this.$store.commit('APP_LOADING', true)
        this.$store.dispatch('DELETE_LISTING', {id: id}).then(() => {
          self.getMyListing()
          self.getMyMostViewedListing()
          self.$store.commit('APP_LOADING', false)
        })
      },
      editItem (item) {
        console.log('editItem', item)
        this.selectedListing = this.clone(item)
        this.editListing = true
      },
      clone (obj) {
        if (typeof obj !== 'object') {
          return obj
        }
        return JSON.parse(JSON.stringify(obj))
      },
      getMyListing () {
        let self = this
        this.loadingListing = true
        this.$store.dispatch('GET_MY_LISTING').then(() => {
          self.loadingListing = false
        })
      },
      getMyMostViewedListing () {
        let self = this
        this.loadingMostViewed = true
        this.$store.dispatch('GET_MY_LISTING', true).then(() => {
          self.loadingMostViewed = false
        })
      },
      toggleNewListingForm () {
        this.newListing = !this.newListing
      }
    }
  }
</script>

<style>
.dashboard-wrapper .floating-search-form {
  position: absolute;
  top: 2em;
  left: 1em;
  right: 1em;
  z-index: 2;
}
.dashboard-wrapper .floating-search-form .v-btn {
  position: absolute;
  right: 0em;
  z-index: 3;
  top: 0em;
}
.dashboard-wrapper #map-search, .dashboard-wrapper #add-home-address, .dashboard-wrapper #edit-home-address {
  flex: 1 1 auto;
  line-height: 20px;
  padding: 12px;
  max-width: 100%;
  min-width: 0px;
  width: 100%;
  background-color: #ffffff;
  border-style: none;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  border-radius: 2px;
  background: #fff;
  margin-bottom: 2em;
  font: inherit;
}
</style>
