<template>
  <v-layout
    text-xs-center
    wrap
    class="home-page-wrapper"
  >
    <v-flex xs12>
      <div v-if="!$store.getters.listModeHome">
        <!-- TODO: change the hardcoded initialCenter when done developing -->
        <map-item v-if="!waitingForNearbyHomes" :itemMarkers="homes" :initialCenter="initialCenter"></map-item>
        <div class="floating-search-form">
          <form @submit.prevent="search">
            <vue-google-autocomplete
              id="map-search"
              classname=""
              placeholder="Start typing"
              :country="['ke', 'so']"
              @placechanged="getAddressData"
            ></vue-google-autocomplete>
            <v-slider
              class="slider-map-mode"
              v-model="radius"
              :label="`Max. Radius (${radius < 1 ? radius * 1000 + 'm' : radius + 'km'}):`"
              thumb-color="teal"
              thumb-label
              always-dirty
              :thumb-size="32"
              :step="0.1"
              :min="0.1"
              :max="30"
            ></v-slider>
            <v-btn icon @click="changeToCurrentLocation" :disabled="stillInLastCoords">
              <v-icon>my_location</v-icon>
            </v-btn>
          </form>
        </div>
      </div>
      <div v-else>
        <div class="floating-search-form">
          <form @submit.prevent="search">
            <v-layout row wrap>
              <v-flex xs12>
                <v-icon class="search-pre-icon">search</v-icon>
                <vue-google-autocomplete
                  id="map-search"
                  classname=""
                  placeholder="Start typing"
                  :country="['ke', 'so']"
                  @placechanged="getAddressData"
                ></vue-google-autocomplete>
                <v-slider
                  class="slider-list-mode"
                  v-model="radius"
                  :label="`Max. Radius (${radius < 1 ? radius * 1000 + 'm' : radius + 'km'}):`"
                  thumb-color="teal"
                  thumb-label
                  always-dirty
                  :thumb-size="32"
                  :step="0.1"
                  :min="0.1"
                  :max="30"
                ></v-slider>
                <v-btn icon @click="changeToCurrentLocation" :disabled="stillInLastCoords">
                  <v-icon>my_location</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </form>
        </div>
        <div class="mt-5" style="padding-top: 100px;">
          <home-list v-if="nearbyHomes && nearbyHomes.length > 0" :items="nearbyHomes"></home-list>
          <h5 v-else>No results found!</h5>
        </div>
      </div>
    </v-flex>
    <div>
      <div class="filter-show-btn" v-if="!this.$store.getters.filter_sidebar" @click="$store.commit('SET_FILTER_SIDEBAR', true)">
        <v-icon>chevron_left</v-icon>
      </div>
      <filter-sidebar></filter-sidebar>
    </div>
  </v-layout>
</template>

<script>
  import VueGoogleAutocomplete from 'vue-google-autocomplete'
  import Map from './partials/Map.vue'
  import HomeList from './partials/HomeList.vue'
  import FilterSidebar from './partials/FilterSidebar.vue'
  import {mapGetters} from 'vuex'
  import { EventBus } from '../main';
  import {location} from '../services'

  export default {
    data: () => ({
      dashboardMode: false,
      searchText: '',
      waiting: 0,
      nearbyHomes: [],
      waitingForNearbyHomes: true,
      radius: 5,
      lastCoords: null
    }),
    components: {
      'map-item': Map,
      'home-list': HomeList,
      'filter-sidebar': FilterSidebar,
      'vue-google-autocomplete': VueGoogleAutocomplete
    },
    computed: {
      ...mapGetters(['searchAddressCoords', 'searchAddress', 'is_logged_in', 'profile', 'stillInLastCoords']),
      searchLocationResult () {
        if (this.searchAddressCoords.lat !== null && this.searchAddressCoords.long !== null) {
          return this.searchAddressCoords
        }
        return null
      },
      homes () {
        if (!this.nearbyHomes) {
          return []
        }
        var maxPrice = 0
        var len = this.nearbyHomes.length
        let self = this
        return this.nearbyHomes.map((item, i) => {
          console.log('homes' + i, item)
          let price = item.is_for_rent ? item.rent_price : item.sale_price
          if (price > this.$store.getters.max_price) {
            maxPrice = price
          }
          if (i === len - 1) {
            self.setMaxPrice(maxPrice)
          }
          let currency = item.is_for_rent ? item.rent_currency.Code : ''
          if (item && item.address && typeof item.address.lat === 'number' && typeof item.address.long === 'number') {
            let img = ''
            if (item.image_urls && item.image_urls.length > 0) {
              img = item.image_urls[0]
            }
            return {id: item.id, agen_user_id: item.agen_user_id, prefix: (item.is_for_rent ? 'Rent ' : 'Buy ') + (item.type && item.type.name ? item.type.name : ''), amount: price, currency, lat: item.address.lat, long: item.address.long, img: img}
          }
        })
      },
      initialCenter () {
        if (this.searchAddressCoords && typeof this.searchAddressCoords.lat === 'number' && typeof this.searchAddressCoords.long === 'number') {
          return this.searchAddressCoords
        }
        return {}
      }
    },
    watch: {
      searchAddressCoords (val) {
        console.log('searchAddressCoords', val)
        EventBus.$emit('SEARCH_COORDS_CHANGED', val)
        this.getNearbyHomes(val)
      },
      homes () {
        // this.$forceUpdate()
      },
      radius (val) {
        localStorage.setItem('radius', val)
        clearInterval(this.radiusTimeout)
        this.$store.commit('SET_SEARCH_RADIUS', val)
        this.radiusTimeout = setTimeout(() => {
          console.log('radius', val)
          this.getNearbyHomes(this.lastCoords, true)
        }, 2000)
      },
      nearbyHomes () {
        this.setMaxPrice(0)
      }
    },
    created () {
      this.changeToCurrentLocation()
      this.radius = Number(localStorage.getItem('radius') || '1')
      EventBus.$on('RUN_FILTERS', data => {
        console.log('RUN_FILTERS', data)
        let amenities = []
        if (data.has_kitchen) {
          amenities.push('has_kitchen')
        }
        if (data.has_airconditioning) {
          amenities.push('has_airconditioning')
        }
        if (data.has_wifi) {
          amenities.push('has_wifi')
        }
        if (data.has_parking) {
          amenities.push('has_parking')
        }
        if (data.is_furnished) {
          amenities.push('is_furnished')
        }
        let filterStr = ''
        if (amenities.length > 0) {
          filterStr += `filters=${amenities.join(',')}`
        }
        switch (data.listing_type) {
          case 'rent_only':
            filterStr += '&is_for_rent_only=true'
            break;
          case 'sale_only':
            filterStr += '&is_for_sale_only=true'
            break;
        
          default:
            break;
        }
        filterStr += `&min_price=${data.min_price}&max_price=${data.max_price}`
        // console.log('filterStr:', filterStr)
        this.$store.commit('SET_LISTING_FILTERS', filterStr)
        this.getNearbyHomes(this.lastCoords, true, true)
      })
    },
    methods: {
      setMaxPrice (price) {
        console.log('setMaxPrice', price)
        this.$store.commit('SET_MAX_PRICE', price)
      },
      changeToCurrentLocation () {
        this.getCurrentLocation().then(this.getNearbyHomes).catch(this.getNearbyHomes)
      },
      coordsDidChange (location) {
        console.log('coordsDidChange', {new: location, old: this.lastCoords})
        if (!location || !this.lastCoords) {
          return true
        }
        if (this.lastCoords.lat === location.lat && this.lastCoords.long === location.long) {
          return false
        }
        return true
      },
      getNearbyHomes (location, dontCheckLast, hasFilter) {
        console.log('getNearbyHomes', this.clone(location))
        let self = this
        self.$store.commit('APP_LOADING', true)
        self.waitingForNearbyHomes = true
        if (location && typeof location.lat === 'number' && typeof location.long === 'number') {
          if (!dontCheckLast && !self.coordsDidChange(location)) {
            self.$store.commit('APP_LOADING', false)
            return
          }
          self.lastCoords = location
          self.$store.commit('SET_SEARCH_ADDRESS', location)
          self.$store.dispatch('GET_NEARBY_HOMES', {...location, has_filters: hasFilter}).then(resp => {
            self.$store.commit('APP_LOADING', false)
            console.log('getNearbyHomes location', resp.results)
            if (resp) {
              self.nearbyHomes = resp.results
            }
            self.waitingForNearbyHomes = false
          })
        } else if (this.searchLocationResult) {
          if (!dontCheckLast && !self.coordsDidChange(this.searchAddressCoords)) {
            self.$store.commit('APP_LOADING', false)
            return
          }
          self.lastCoords = this.searchAddressCoords
          this.$store.dispatch('GET_NEARBY_HOMES', {...this.searchLocationResult, has_filters: hasFilter}).then(resp => {
            self.$store.commit('APP_LOADING', false)
            console.log('getNearbyHomes searchLocationResult', resp.results)
            if (resp) {
              self.nearbyHomes = resp.results
            }
            self.waitingForNearbyHomes = false
          }).catch(err => {
            self.$store.commit('APP_LOADING', false)
            console.log('getNearbyHomes Error', err)
          })
        } else {
          console.log('SKIPPED...!')
        }
      },
      clone (obj) {
        if (typeof obj !== 'object') {
          return obj
        }
        return JSON.parse(JSON.stringify(obj))
      },
      search () {
        console.log('search', this.searchText)
      },
      getAddressData (address, place, id) {
        console.log('getAddressData', {address, place, id})
        let location = {lat: address.latitude, long: address.longitude}
        this.$store.commit('SET_SEARCH_ADDRESS', location)
      },
      getCurrentLocation () {
        console.log('getCurrentLocation')
        let self = this
        return new Promise((resolve, reject) => {
          location.getCurrentCoordinates().then(resp => {
            console.log('location.getCurrentCoordinates response', resp)
            self.$store.commit('SET_LAST_COORDS', resp)
            resolve(resp)
          }).catch(err => {
            console.log('location.getCurrentCoordinates error', err)
            // if (err.toString().indexOf('Network Error') > -1) {
            //   reject(err)
            // }
            reject(self.$store.getters.storedCoords)
          })
        })
      }
    }
  }
</script>

<style>
.home-page-wrapper .floating-search-form {
  position: absolute;
  top: 2em;
  left: 1em;
  right: 1em;
  z-index: 2;
}
.home-page-wrapper .floating-search-form .v-btn {
  position: absolute;
  right: 0em;
  z-index: 3;
  top: 0em;
}
.home-page-wrapper .floating-search-form .search-pre-icon {
  position: absolute;
  left: 0.2em;
  top: 0.4em;
}
.home-page-wrapper #map-search, .home-page-wrapper #add-home-address, .home-page-wrapper #edit-home-address {
  flex: 1 1 auto;
  line-height: 20px;
  padding: 12px;
  padding-left: 32px;
  max-width: 100%;
  min-width: 0px;
  width: 100%;
  background-color: rgba(255,255,255, 0.8);
  border-style: none;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  border-radius: 2px;
  font: inherit;
}
.home-page-wrapper .v-input--slider {
  background-color: rgba(255,255,255, 0.8);
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  padding: 12px;
  margin-top: 0;
}
.home-page-wrapper .v-input--slider.slider-map-mode {
  margin-bottom: 2em;
}
.home-page-wrapper .v-input--slider.slider-list-mode {
  margin-bottom: 0.1em;
}
.home-page-wrapper .v-input--slider label.v-label {
  min-width: 10em;
}
.home-page-wrapper .v-input--slider .v-input__slot {
  margin-bottom: 0;
}
.home-page-wrapper .v-input--slider .v-messages {
  display: none;
}
.home-page-wrapper .filter-show-btn {
  position: absolute;
  right: -2em;
  top: 45%;
  bottom: 45%;
  background-color: rgba(255,255,255, 0.8);
  box-shadow: 0 0 1em rgba(0,0,0,0.12);
  height: 4em;
  width: 4em;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  padding: 1.1em;
  padding-left: 0;
  padding-right: 2em;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.home-page-wrapper .filter-show-btn .v-icon {
  transition: all .5s ease-in-out;
}
.home-page-wrapper .filter-show-btn:hover {
  right: -1em;
  padding-left: 0.7em;
  background-color: #2185d0;
}
.home-page-wrapper .filter-show-btn:hover .v-icon {
  color: rgba(255,255,255, 0.8) !important;
}
</style>
