<template>
  <div>
    <h1>Profile</h1>

    <pre>{{$store.getters.profile}}</pre>
    <pre>{{$store.getters.agent}}</pre>
  </div>
</template>
<script>
export default {
  name: 'profile',
  created () {
    this.$store.dispatch('GET_AGENT')
  }
}
</script>
