<template>
  <div class="subscription-wrapper">
    <div v-if="subscriptionPlanChanged">
      <h1>Complete Plan {{upgradeBtnText}}</h1>
      <v-layout row wrap ma-2 v-if="!selectedPaymentMethod">
        <v-flex xs12>
          <h5>Choose payment method</h5>
        </v-flex>
        <v-flex xs6 sm3 pa-1 v-for="(item, index) in filteredPaymentMethods" :key="index">
          <v-card class="ma-2 clickable" @click="selectPaymentMethod(item)">
            <v-img :src="item.logo" aspect-ratio="1.54"></v-img>
            <v-card-title primary-title class="pa-1 pl-2">
              <v-icon class="mr-2" color="success" v-if="selectedPaymentMethod && selectedPaymentMethod.id === item.id">check_circle</v-icon>
              <div>
                <!-- <div class="headline">{{item.name}}</div> -->
                <span>{{item.provider}}</span>
                <v-tooltip bottom color="white error--text" v-if="item.is_limited_to">
                  <v-icon small color="error" class="ml-1" style="margin-top: -0.3em;" slot="activator">help_outline</v-icon>
                  <b>This service is limited to {{item.is_limited_to.join(', ')}}</b>
                </v-tooltip>
              </div>
            </v-card-title>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row wrap ma-2 v-else>
        <v-flex xs12>
          <h5>Selected payment method</h5>
        </v-flex>
        <v-flex xs6 sm3 pa-1>
          <v-card class="ma-2 clickable" @click="selectPaymentMethod(selectedPaymentMethod)">
            <v-img :src="selectedPaymentMethod.logo" aspect-ratio="1.54"></v-img>
            <v-card-title primary-title class="pa-1 pl-2">
              <div>
                <!-- <div class="headline">{{selectedPaymentMethod.name}}</div> -->
                <span>{{selectedPaymentMethod.provider}}</span>
                <v-tooltip bottom color="white error--text" v-if="selectedPaymentMethod.is_limited_to">
                  <v-icon small color="error" class="ml-1" style="margin-top: -0.3em;" slot="activator">help_outline</v-icon>
                  <b>This service is limited to {{selectedPaymentMethod.is_limited_to.join(', ')}}</b>
                </v-tooltip>
              </div>
            </v-card-title>
          </v-card>
        </v-flex>
        <v-flex xs12 v-if="selectedInstruction && selectedInstruction.id">
          <div v-for="(item, index) in selectedInstruction.steps" :key="index">
            <h4 v-if="item.title">Step {{index + 1}}: {{item.title}} </h4>
            <p v-if="item.description">{{item.description}}</p>
          </div>
        </v-flex>
        <v-flex xs12 v-if="selectedInstruction && selectedInstruction.id">
          <form @submit.prevent="completeUpgrade">
            <div v-for="(field, index) in selectedInstruction.fields" :key="index">
              <v-text-field :id="field.id" :name="field.id" :label="field.text" type="text" v-model="field.value" required></v-text-field>
            </div>
            <div>
              <v-btn primary type="submit">Send</v-btn>
            </div>
          </form>
        </v-flex>
      </v-layout>
    </div>
    <div v-else>
      <h1>My Subscription</h1>
      <v-layout row wrap ma-2>
        <v-flex xs12 sm6 pa-2>
          <h5>Current plan</h5>
          <v-card class="ma-2 clickable"  v-if="mySubscription && mySubscription.type && mySubscription.type.name" @click="selectedPlan = null">
            <v-card-title primary-title class="pa-1 pl-2">
              <v-icon class="mr-2" color="success" v-if="!selectedPlan">check_circle</v-icon>
              <div class="subscription-price-tag">
                <!-- <pre>{{mySubscription.type}}</pre> -->
                <h1>{{mySubscription.type.price}}<small>{{selectedCurrency}}</small></h1>
              </div>
              <div>
                <div class="headline">{{mySubscription.type.name}}</div>
                <span v-if="mySubscription.type.listing_limit > 0">{{mySubscription.type.listing_limit}} listing per month</span>
                <span v-else>Unlimited listing per month</span>
                <span v-if="mySubscription.listing_credits">,
                  and {{mySubscription.listing_credits}} <b>extra credit{{mySubscription.listing_credits === 1 ? '' : 's'}}</b>
                  <v-tooltip bottom>
                    <v-icon small class="ml-1" style="margin-top: -0.3em;" slot="activator">help_outline</v-icon>
                    <span>Awarded credits that will increase the limit of your monthly quota</span>
                  </v-tooltip>
                </span>
              </div>
            </v-card-title>
          </v-card>
          <h5>Upgrade</h5>
          <v-card class="ma-2 clickable" v-for="(item, index) in filteredSubscriptionTypes" :key="index" @click="selectUpgradePlan(item)">
            <v-card-title primary-title class="pa-1 pl-2">
              <v-icon class="mr-2" color="success" v-if="selectedPlan && selectedPlan.name === item.name">check_circle</v-icon>
              <div v-if="item.price" class="subscription-price-tag">
                <h1>
                  {{item.price}}<small>{{selectedCurrency}}</small>
                </h1>
              </div>
              <div>
                <div class="headline">{{item.name}}</div>
                <span v-if="item && item.listing_limit > 0">{{item.listing_limit}} listing per month</span>
                <span v-else>Unlimited listing per month</span>
              </div>
            </v-card-title>
          </v-card>
          <v-layout>
            <v-spacer></v-spacer>
            <v-btn color="" @click="selectedPlan = null" :disabled="!selectedPlan">Reset</v-btn>
            <v-btn color="primary" :disabled="!selectedPlan && !(selectedPlan && mySubscription.type && selectedPlan.name === mySubscription.type.name)" @click="upgradePlan">{{upgradeBtnText}}</v-btn>
          </v-layout>
        </v-flex>
        <v-flex xs12 sm6 pa-2 v-if="mySubscription && mySubscription.type">
          <h5 class="mb-2">Status</h5>
          <v-card>
            <v-card-text>
              <h1>Account Limits</h1>
              <p>You used {{mySubscription.month_listing || 0}} out of {{mySubscription.type.listing_limit + mySubscription.listing_credits}}<span v-if="!mySubscription.listing_credits">, {{mySubscription.listing_credits}} extra credit {{mySubscription.listing_credits === 1 ? '' : 's'}}</span> </p>
              <p>To increase the number of listings you can publish, please upgrade to a higher subscription plan</p>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12 sm6 pa-2></v-flex>
        <v-flex xs12 sm6 pa-2></v-flex>
      </v-layout>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
  name: 'subscription',
  data: () => ({
    selectedCurrency: '$',
    selectedPlan: null,
    subscriptionPlanChanged: false,
    paymentMethods: [
      {id: 'm-pesa-safaricom', name: 'M-Pesa', provider: 'Safaricom', logo: '/images/payment-methods/m-pesa.jpg', is_limited_to: ['Kenya', 'Uganda', 'Tanzania'], needs_trx_id: true},
      {id: 'evc-hormuud', name: 'EVC-Plus', provider: 'Hormuud', logo: '/images/payment-methods/evc-plus.jpg', is_limited_to: ['Somalia'], needs_trx_id: false},
      {id: 'gift-card', name: 'Gift card', provider: 'Our Partiners', logo: '/images/payment-methods/gift-card.jpeg', is_limited_to: null, needs_trx_id: true},
      {id: 'credit-card', name: 'Credit card', provider: 'Our Partiners', logo: '/images/payment-methods/credit-card.jpg', is_limited_to: null, needs_trx_id: false}
    ],
    selectedPaymentMethod: null,
    selectedInstruction: null
  }),

  computed: {
    ...mapGetters(['mySubscription', 'subscriptionTypes']),
    filteredSubscriptionTypes () {
      if (this.subscriptionTypes && this.subscriptionTypes.length > 0) {
        return this.subscriptionTypes.filter(this.filterOnlyPaid) // .filter(this.nonSelected)
      }
      return []
    },
    isUpgrade () {
      if (this.selectedPlan && this.selectedPlan.listing_limit < 0) {
        return this.mySubscription && this.mySubscription.type && this.mySubscription.type.name !== this.selectedPlan.name
      }
      if (this.selectedPlan && this.selectedPlan.name) {
        return this.selectedPlan.listing_limit > this.mySubscription.type.listing_limit
      }
      return false
    },
    filteredPaymentMethods () {
      return this.paymentMethods
    },
    upgradeBtnText () {
      if (!(this.selectedPlan && this.mySubscription && this.mySubscription.type && this.selectedPlan.name === this.mySubscription.type.name)) {
        return 'Upgrade'
      }
      if (this.isUpgrade) {
        return 'Upgrade'
      }
      return 'Downgrade'
    },
    paymentMethodInstructions () {
      return [
        {
          id: 'm-pesa-safaricom',
          fields: [
            {id: 'transaction_id', text: 'Transaction ID', value: ''}
          ],
          steps: [
            {title: `Send Amount:`, description: `Send ${(this.selectedPlan.price * 100).toLocaleString('en-GB')} Ksh to safaricom number 0741620827 and submit the transaction ID below`, action: 'MPESA_PAYMENT'}
          ]
        },
        {
          id: 'evc-hormuud',
          fields: [
            {id: 'phone_number', text: 'Phone number', value: ''},
            {id: 'amount_sent', text: 'Amount sent', value: ''}
          ],
          steps: [
            {title: 'Send Amount:', description: `Send ${(this.selectedPlan.price).toLocaleString('en-GB')} dollars to hormuud number 0615100829 and submit the sender's phone number below`, action: 'EVE_PAYMENT'}
          ]
        },
        {
          id: 'gift-card',
          steps: [
            {title: '', description: '', action: ''}
          ]
        },
        {
          id: 'credit-card',
          steps: [
            {title: '', description: '', action: ''}
          ]
        }
      ]
    }
  },

  methods: {
    getInstructionByID () {
      var id = null
      if (this.selectedPaymentMethod && this.selectedPaymentMethod.id) {
        id = this.selectedPaymentMethod.id
      }
      if (!id) {
        this.selectedInstruction = null
        return
      }
      let result = this.paymentMethodInstructions.filter(item => {
        if (item.id === id) {
          console.log('instruction-'+item.id, {item: item.id, id, steps: item.steps})
        }
        return item.id === id
      })
      if (result.length > 0) {
        this.selectedInstruction = result[0]
        console.log('getInstructionByID', this.selectedInstruction)
        return
      }
      this.selectedInstruction = null
    },
    selectPaymentMethod (item) {
      console.log('selectPaymentMethod', item)
      this.selectedPaymentMethod = item
      if (this.selectedPaymentMethod) {
        this.getInstructionByID()
      }
    },
    upgradePlan () {
      console.log('upgradePlan')
      this.subscriptionPlanChanged = true
    },
    completeUpgrade (e) {
      console.log('completeUpgrade', e)
      let fields = []
      for (var i = 0; i < e.target.length; i++) {
        console.log('field-'+i, e.target[i])
        if (e.target[i].type !== 'submit' || e.target[i].id !== '') {
          fields.push({id: e.target[i].id, value: e.target[i].value})
        }
      }
      console.log('completeUpgrade', fields)
      let msg = `Are you sure to subscribe to <b>${this.selectedPlan.name}</b> plan for <b>${this.selectedCurrency}${this.selectedPlan.price}/month</b> using <b>${this.selectedPaymentMethod.name}</b> as payment method?`
      this.$dialog.confirm(msg, {html: true}).then(val => {
        console.log('Yes?', val)
        this.$store.dispatch('CHANGE_SUBSCRIPTION', {plan: this.selectedPlan, fields}).then(resp => {
          console.log('CHANGE_SUBSCRIPTION response', resp)
        }).catch(err => {
          console.log('CHANGE_SUBSCRIPTION error', err)
        })
      }).catch(err => {
        console.log('No?', err)
      })
    },
    selectUpgradePlan (item) {
      this.selectedPlan = item
    },
    filterOnlyPaid (item) {
      return item && item.type === 'paid'
    },
    nonSelected (item) {
      if (!item) {
        return false
      }
      if (!this.mySubscription) {
        return false
      }
      if (!this.mySubscription && this.mySubscription.type) {
        return false
      }
      return this.mySubscription.type && this.mySubscription.type.name === item.name
    }
  }
}
</script>
<style>
.v-card .v-card__title .subscription-price-tag {
  position: absolute;
  right: 1em;
  top: auto;
  bottom: auto;
}
.v-card .v-card__title .subscription-price-tag small {
  font-weight: 300;
  font-size: 0.6em;
}
</style>
