.bordered-1, .all-bordered-1 {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.left-bordered-1 {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.right-bordered-1 {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom-bordered-1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.top-bordered-1 {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.bordered-2, .all-bordered-2 {
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.left-bordered-2 {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.right-bordered-2 {
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.bottom-bordered-2 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.top-bordered-2 {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.bordered-3, .all-bordered-3 {
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.left-bordered-3 {
  border-left: 3px solid rgba(0, 0, 0, 0.1);
}

.right-bordered-3 {
  border-right: 3px solid rgba(0, 0, 0, 0.1);
}

.bottom-bordered-3 {
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.top-bordered-2 {
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.v-select.searchable .dropdown-toggle {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  border-color: rgba(0,0,0,0.42);
}

.all-uppercase {
  text-transform: uppercase !important;
}

.all-lowercase {
  text-transform: lowercase !important;
}

/************ VUE DIALOG ************/
.dg-container {
  font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clickable {
  cursor: pointer;
}

.dg-btn.dg-btn--ok {
  background-color: #1976d2;
  border-color: #1976d2;
  color: #ffffff;
}

.dg-btn.dg-btn--cancel {
  background-color: #ff5252;
  border-color: #ff5252;
  color: #ffffff;
}
/************ END OF VUE DIALOG ************/