<template>
  <div>
    <div v-if="$store.getters.app_loading.enable" class="loading-overlay">
      <v-progress-circular
        :size="70"
        :width="7"
        color="primary"
        indeterminate
      ></v-progress-circular>
    </div>
    <v-app v-if="!$route.meta.noLayout">
      <v-navigation-drawer
        v-model="drawer"
        clipped
        fixed
        app
      >
        <v-list dense>
          <v-list-tile @click="$router.push({name: 'Home'})">
            <v-list-tile-action>
              <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Home</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="$router.push({name: 'Dashboard'})" v-if="$store.getters.is_logged_in">
            <v-list-tile-action>
              <v-icon>dashboard</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Dashboard</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="$router.push({name: 'Profile'})" v-if="$store.getters.is_logged_in">
            <v-list-tile-action>
              <v-icon>contact_mail</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Profile</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="$router.push({name: 'Login'})" v-if="!$store.getters.is_logged_in">
            <v-list-tile-action>
              <v-icon>person</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Login</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="logout" v-else>
            <v-list-tile-action>
              <v-icon>person_outline</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Logout</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar color="indigo" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>Kiro</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
          <!-- <v-btn flat v-if="$store.getters.is_logged_in"><v-icon>settings</v-icon></v-btn> -->
          <v-menu bottom left>
            <v-btn
              slot="activator"
              dark
              icon
            >
              <v-icon>more_vert</v-icon>
            </v-btn>

            <v-list>
              <v-list-tile @click="goToPage('/settings')">
                <v-list-tile-title>Settings</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="goToPage('/subscription')">
                <v-list-tile-title style="height:30px;">
                  Subscription
                  <v-chip v-if="mySubscription && mySubscription.type && mySubscription.type.name" small :color="!mySubscription.type.name ? 'primary' : 'success'" text-color="white">{{mySubscription.type.name}}</v-chip>
                </v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="goToPage('/profile')">
                <v-list-tile-title>Profile</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </v-toolbar-items>
        <v-progress-linear
          class="header-loading-animation-progressbar"
          color="secondary"
          v-if="$store.getters.app_loading.enable"
          :indeterminate="true"
        ></v-progress-linear>
      </v-toolbar>
      <v-content>
        <router-view></router-view>
      </v-content>
      <v-footer class="pa-2" color="indigo" app>
        <span class="white--text">&copy; 2017</span>
        <v-spacer></v-spacer>
        <v-btn small flat v-if="$route.name === 'Home'" color="white darken-1" @click="toggleListMapModes">
          <v-icon v-if="!isListModeHome">list</v-icon>
          <v-icon v-else>map</v-icon>
          {{!isListModeHome ? 'List' : 'Map'}}
        </v-btn>
      </v-footer>
    </v-app>
    <div v-else>
      <router-view></router-view>
    </div>
    <v-snackbar
      v-model="success_message.show"
      :color="'success'"
      :top="true"
      :right="true"
      :multi-line="false"
      :timeout="success_message.timeout"
      :vertical="false"
    >
      {{ success_message.text }}
      <v-btn
        dark
        flat
        icon
        @click="success_message.show = false"
      >
        <v-icon small>close</v-icon>
      </v-btn>
    </v-snackbar>
    <v-snackbar
      v-model="error_message.show"
      :color="'error'"
      class="black--text"
      :top="true"
      :right="true"
      :multi-line="false"
      :timeout="error_message.timeout"
      :vertical="false"
    >
      <b>{{ error_message.text }}</b>
      <v-btn
        dark
        flat
        icon
        @click="error_message.show = false"
      >
        <v-icon small>close</v-icon>
      </v-btn>
    </v-snackbar>
    <v-dialog light v-model="showHousePopup" width="800">
      <v-card v-if="houseMapPopupData && houseMapPopupData.data">
        <v-toolbar dark color="primary">
          <v-toolbar-title>{{houseMapPopupData.data.prefix}} for {{houseMapPopupData.data.amount}} {{houseMapPopupData.data.currency}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon dark @click="showHousePopup = false"> <v-icon>close</v-icon> </v-btn>
        </v-toolbar>

        <v-card-text>
          <house-details :id="houseMapPopupData.data.id"></house-details>
          <!-- <pre>{{houseMapPopupData}}</pre> -->
        </v-card-text>
      </v-card>
      <v-card v-else>
        <h3>Loading...</h3>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import {EventBus} from './main'
import HouseDetails from './components/partials/HouseDetails.vue'
import $ from 'jquery'
export default {
  name: 'App',
  components: {
    'house-details': HouseDetails
  },
  data () {
    return {
      success_message: {
        show: false,
        timeout: 5000,
        text: ''
      },
      error_message: {
        show: false,
        timeout: 5000,
        text: ''
      }
    }
  },
  computed: {
    ...mapGetters(['houseMapPopupData', 'showHouseMapPopup', 'is_logged_in', 'mySubscription']),
    showHousePopup: {
      get () {
        return this.showHouseMapPopup
      },
      set (val) {
        if (val) {
          this.$store.commit('SHOW_HOUSE_MAP_POPUP')
        } else {
          this.$store.commit('HIDE_HOUSE_MAP_POPUP')
        }
      }
    },
    drawer: {
      get () {
        return this.$store.getters.drawer
      },
      set (newValue) {
        this.$store.commit('DRAWER', newValue)
      }
    },
    isListModeHome: {
      get () {
        return this.$store.getters.listModeHome
      },
      set (newValue) {
        console.log('isListModeHome', newValue)
        this.$store.commit('IS_LIST_MODE_HOME', newValue)
      }
    }
  },
  
  watch: {
    drawer (val) {
      console.log('drawer', val)
      if (window.innerWidth > 1263) {
        $('.header-loading-animation-progressbar').addClass('with-sidebar')
      } else if (val) {
        $('.header-loading-animation-progressbar').addClass('with-sidebar')
      } else {
        $('.header-loading-animation-progressbar').removeClass('with-sidebar')
      }
    }
  },

  beforeMount () {
    this.initUser()
    this.$store.dispatch('USER_LEVEL')
    this.getCurrencies()
    EventBus.$on('alert_message', data => {
      if (data && data.type === 'error') {
        this.error_message.text = data.text
        this.error_message.show = true
      } else if (data && data.type === 'success') {
        this.success_message.text = data.text
        this.success_message.show = true
      }
    })
    if (this.is_logged_in) {
      this.$store.dispatch('GET_SUBSCRIPTION_TYPES')
      this.$store.dispatch('GET_MY_SUBSCRIPTION')
    }
  },

  methods: {
    goToPage (url) {
      this.$router.push(url)
    },
    getCurrencies () {
      this.$store.dispatch('GET_CURRENCIES')
    },
    toggleListMapModes () {
      console.log('toggleListMapModes', this.$store.getters.listModeHome)
      if (this.$store.getters.listModeHome) {
        this.isListModeHome = false
      } else {
        this.isListModeHome = true
      }
    },
    initUser () {
      let auth = window.localStorage.getItem('auth')
      if (auth != null) {
        console.log('auth', auth)
        auth = JSON.parse(auth)
        console.log('auth', auth)
        this.$store.commit('SET_TOKEN', auth.jwt_token)
        this.$store.commit('SET_LEVEL', auth.level)
        this.$store.commit('SET_PROFILE', auth.profile)
        this.$store.commit('SET_USER_LEVEL', auth.role)
      }
    },
    logout () {
      this.$store.dispatch('CLEAR_ALL')
      this.$router.push('/login')
      EventBus.$emit('alert_message', {type: 'success', text: 'Logout successful'})
    }
  }
}
</script>
<style>
.loading-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  z-index: 10000;
}
.loading-overlay .v-progress-circular {
  position: absolute;
  top: 45%;
  left: 45%;
}
.header-loading-animation-progressbar {
  position: absolute;
  bottom: -21px;
  left: 0;
  right: 0;
  transition: left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-loading-animation-progressbar.with-sidebar {
  left: 300px;
}
</style>
